.main
  .main__top
    .main__top__group
      .main__top__group__name
        = @group.group_name
      %ul.main__top__group__member 
        Member:
        - @group.users.each do |user|
          %li.main__top__group__member__list
            = user.name
    .main__top__edit-btn
      = link_to edit_group_path(@group.id) do
        = "Edit"
      = link_to("Delete",group_path(@group.id),method: :delete)
  .main__middle
    .main__middle__message-area
      - @messages.each do |message|
        %ul.main__middle__message-area__post
          %li.main__middle__message-area__post__name
            = message.user.name
          %li.main__middle__message-area__post__datetime
            = message.created_at.to_s(:datetime_jp)
        .main__middle__message-area__image
          = image_tag message.image
        .main__middle__message-area__message
          = message.content
  .main__bottom
    .main__bottom__form
      .main__bottom__form__input
        = form_for [@group, @message] do |f|
          = f.text_field :content, placeholder: "type a message",class:"main__bottom__form__input__text-area"
          = f.label :image, class: 'main__bottom__form__input__icon' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hyde', id: 'image-content'
          = f.submit 'Send', class: 'main__bottom__form__send-btn'
